.footer {
    background: url(../img/content/chalkboard_texture_mc2015_by_mattiamc-d8dbnac.jpg) center no-repeat ;
    background-size: cover;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: rem(10px) 0;
}


.container__footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    @include phones {
        flex-direction: column;
        margin-bottom: 2rem;
      }
}


.footer__contacts {
    width: 50%;

    @include phones {
       text-align: center;
       width: 100%;
      }
}


.footer__contacts-addres  {
    font-family: 'Ubuntu';
    font-size: 0.875rem;
    color: #fff;
}


.footer__contacts-phone {
    display: flex;

    @include phones {
        justify-content: center;
        margin-bottom: rem(20px);
        margin-top: rem(10px);
    }
}

.phone-img {
    width: 0.9375rem;
}

.phone-text {
    color: #e45028;
    font-weight: bold;
    margin-left: 0.3125rem;
}

.socials__list {
    display: flex;
}

.socials__icons {
    margin-right: 0.9375rem;
    fill: gray;
    width: 1.25rem;
    height: 1.25rem;

    &:hover {
        fill: #fff;
    }
}


