.heading {
    background-image: url("../img/bg/hero_bg.png");
    background-repeat: no-repeat;
    background-position: 50%; // размещение по центру блока
    background-size: cover;
    font-family: Ubuntu;
}

.hero__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 0.625rem;
}

.header__logo-pic {
    width: 5.5rem;
    height: 4.375rem;
}

nav {
    @include tablets {
        display: none;
    }
}

.header__right {
    display: flex;
    margin-top: 1.375rem;
}

.nav__item {
    display: inline-block;

    &:before {
        content: "";
        display: inline-block;
        background-color: #fff;
        width: 0.3125rem;
        height: 0.3125rem;
        border-radius: 50%;
        vertical-align: middle;
        margin: 0 0.625rem;
    }

    &:first-child:before  {
        display: none;
    }
}

.nav__link {
    text-decoration: none;
    text-transform: uppercase;  
    color: #fff;
    font-size: 0.8125rem;

    &:hover {
        text-decoration: underline; 
    }
}

.header__button {

    @include tablets {
        display: flex;
        align-items: center;
    }
}

.header__button-link {
    @include btn; // миксин кнопки 
    padding: 0.625rem 0.9375rem;
    margin-left: 0.9375rem;

    &:hover {
        background-color: #e44e28a6;
    }
}

.main {
    display: flex;
    align-items: center;

    @include tablets {
        flex-direction: column;
    }
}

.main__pic {
    padding-left: 1.5625rem;

    @include phones {
        padding: 0;
        text-align: center;
     }

}

.main-img {
    @include tablets {
       width: rem(350px);
    }

    @include phones {
        width: 85%;
     }
}

.main__text {
    padding-top: 2.625rem;
    padding-left: 0.9375rem;

    @include tablets {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
    }
}

.main__about {
    font-family: 'Lifehack-Medium';
    font-size: 4.375rem;
    font-weight: 500;
    line-height: 1;
    text-align: left;
    color: #ffffff;

    @include tablets {
        text-align: center;
    }

    @include phones {
        font-size: rem(54px);
    }
 }

.main__title {
    @include title-font;
    color: $yellow;

    @include phones {
        font-size: rem(62px);
    }
}

.header__arrow {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin: rem(20px) 0 0 0;
}