.fixed__menu {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 80px;
    right: 45px;

    @include tablets {
       display: none;
    }
}

.fixed__menu-item{
    display: inline-block;
    content: ' ';
    width:rem(16px);
    height:rem(16px);
    border:rem(1px) solid transparent;
    background-color:transparent;
    position:relative;
    border-radius:50%; 
    margin-bottom: 0.5rem;
    &:hover{
        border: rem(1px) solid #fff;
        cursor: pointer;
    }
    &.active{
        border: rem(1px) solid #fff;
    }
}

.fixed__menu-link{
    display: block;
    content: ' ';
    border-radius:50%;
    width:rem(6px);
    height:rem(6px);
    position:absolute;
    background-color:#fff;
    top:50%;;
    left:50%;
    transform:translate(-50% ,-50%);
}



